<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
        <item view="Userv.list" title="msg://com.company.sitovetrina.view.userv/uservListView.title"/>
        <item view="Uservpass.list" title="msg://com.company.sitovetrina.view.uservpass/uservpassListView.title"/>
        <item view="Messaggio.list" title="msg://com.company.sitovetrina.view.messaggio/messaggioListView.title"/>
        <item view="Servizio.list" title="msg://com.company.sitovetrina.view.servizio/servizioListView.title"/>
        <item view="Configsitovetrina" title="msg://Configurazione Sito"/>
        <item view="Home" title="msg://com.company.sitovetrina.view.home/home.title"/>
</menu-config>